body {

    margin: 0;
    padding: 0;
    font-family: 'arial', Courier, monospace;
    background: linear-gradient( 150deg,#c7cfcf, #000000);
    height: 100vh;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.formulario h1 {
    text-align: center ;
    padding: 0 0 15px 0 ;
    border-bottom: 1px solid  rgb(90, 81, 81);
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom: 2px solid;
    margin: 30px 0 ;
} 

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16 px;
    border: none;
    background: none;
    outline: none;
}

.username label{
     position: absolute;
     top: 50%;
     left: 5px;
     color: #acaca8;
     transform: translateY(-50);
     font-size: 16px;
     pointer-events: none;
     transition: .5s;
}

.username span::before{
    content: ´´;
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: DFD7D6;
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px ;  
    color:  DFD7D6;
}


.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;

}
      
.recordar{
    margin: -5px  0 20px 5px;
    color: blue;
    cursor: pointer;
}

.recordar:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #1e7979;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline:none ;
}

input[type= "submit"]:hover{
    border: #e6f1f1;
    transition: .5s;
}

.registrarse{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrarse a{
    color: blue;
    text-decoration: none;
}

.registrarse a:hover{
    text-decoration: underline;
}